mixin addButton(text, id, elem_mods, content_mods, text_mods, content_style)
    .button
        .button__elem(class=elem_mods)
            .button__content(class=content_mods, id=id, style=content_style)
                h3.button__text(class=text_mods)= text