include ../text-field/text-field

-
  var footer_links_1 = [
    {link: "https://yandex.ru/", text: "О нас"},
    {link: "https://yandex.ru/", text: "Новости"},
    {link: "https://yandex.ru/", text: "Служба поддержки"},
    {link: "https://yandex.ru/", text: "Услуги"}
  ]

-
  var footer_links_2 = [
    {link: "https://yandex.ru/", text: "О сервисе"},
    {link: "https://yandex.ru/", text: "Наша команда"},
    {link: "https://yandex.ru/", text: "Вакансии"},
    {link: "https://yandex.ru/", text: "Инвесторы"}
  ]

-
  var footer_links_3 = [
    {link: "https://yandex.ru/", text: "Соглашения"},
    {link: "https://yandex.ru/", text: "Сообщества"},
    {link: "https://yandex.ru/", text: "Связь с нами"}
  ]

- var copyrights = "Copyright © 2018 Toxin отель. Все права зачищены."

-
  var social_links = [
    {link: "https://yandex.ru/", class: "footer__social-button_twitter"},
    {link: "https://yandex.ru/", class: "footer__social-button_facebook"},
    {link: "https://yandex.ru/", class: "footer__social-button_instagram"}
  ]


mixin addFooterColumn(title, footer_links)
  .footer__column
    h3.footer__title= title
    - for(var x = 0; x < footer_links.length; x++)
      p.footer__item
        a.footer__link(href=footer_links[x].link, target="_blank")= footer_links[x].text

mixin addFooterCopyrightsAndSocials(copyrights_text, links)
  p.footer__copyrights= copyrights_text
  .footer__socials
    - for(var x = 0; x < links.length; x++)
      a.footer__social-button(href=links[x].link, target="_blank", class=links[x].class)

mixin addFooter(small)
  if small
    footer.footer.footer_small
      .footer__top-box
        .footer__columns
          .footer__logo
          +addFooterCopyrightsAndSocials(copyrights, social_links)
  else
    footer.footer
      .footer__top-box
        .footer__columns
          .footer__column
            .footer__logo
            p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
          +addFooterColumn("навигация", footer_links_1)
          +addFooterColumn("о нас", footer_links_2)
          +addFooterColumn("Служба поддержки", footer_links_3)
          .footer__column
            h3.footer__title Подписка
            p.footer__text Получайте специальные предложения и новости сервиса
            +addTextField('Email', '', 'field__elem_small', '', 'text-field__box_arrow-forward purple_text')
      .footer__bottom-box
        +addFooterCopyrightsAndSocials(copyrights, social_links)