include ../text-field/text-field

mixin addFooter(small)
        if small
            footer.footer.footer_small
                .footer__top-box
                    .footer__columns
                        .footer__logo
                        p Copyright © 2018 Toxin отель. Все права зачищены.
                        .footer__social
                            a(href="https://yandex.ru/", target="_blank")
                            a(href="https://yandex.ru/", target="_blank")
                            a(href="https://yandex.ru/", target="_blank")
        else
            footer.footer
                .footer__top-box
                    .footer__columns
                        .footer__column
                            .footer__logo
                            p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                        .footer__column
                            h3 навигация
                            p
                                a(href="https://yandex.ru/", target="_blank")= "О нас"
                            p
                                a(href="https://yandex.ru/", target="_blank")= "Новости"
                            p
                                a(href="https://yandex.ru/", target="_blank")= "Служба поддержки"
                            p
                                a(href="https://yandex.ru/", target="_blank")= "Услуги"
                        .footer__column
                            h3 о нас
                            p
                                a(href="https://yandex.ru/", target="_blank")= "О сервисе"
                            p
                                a(href="https://yandex.ru/", target="_blank")= "Наша команда"
                            p
                                a(href="https://yandex.ru/", target="_blank")= "Вакансии"
                            p
                                a(href="https://yandex.ru/", target="_blank")= "Инвесторы"
                        .footer__column
                            h3 Служба поддержки
                            p
                                a(href="https://yandex.ru/", target="_blank")= "Соглашения"
                            p
                                a(href="https://yandex.ru/", target="_blank")= "Сообщества"
                            p
                                a(href="https://yandex.ru/", target="_blank")= "Связь с нами"
                        .footer__column
                            h3 Подписка
                            p Получайте специальные предложения и новости сервиса
                            +addTextField('Email', '', 'field__elem_small', 'text-field__elem_arrow-left')
                .footer__bottom-box
                    p Copyright © 2018 Toxin отель. Все права зачищены.
                    .footer__social
                        a(href="https://yandex.ru/", target="_blank")
                        a(href="https://yandex.ru/", target="_blank")
                        a(href="https://yandex.ru/", target="_blank")