include ../checkbox/checkbox

mixin addTwoElements(leftType, rightType, items, additionalContent)
  .two-elements
    - for (var x = 0; x < items.length; x++)
      if items[x].line
        - var elem_mod = "two-elements__element_line"
      else
        - var elem_mod = ""
      .two-elements__element(class=elem_mod)
        .two-elements__left
          if leftType.image_and_text
            +addImage(items[x].image)
          if leftType.but_and_text
            +addCheckbox(additionalContent)
        .two-elements__right
          if rightType.image_and_text
            +addTitleAndText(items[x].title, items[x].text)
          if rightType.but_and_text
            +addText(items[x].text)

mixin addImage(image)
  img(src=image)

mixin addTitleAndText(title, text)
  p.two-elements__title= title
  p.two-elements__text= text

mixin addText(text)
  p.two-elements__text= text