include ../../library.blocks/field/field

mixin addTextField(placeholder, title, fieldMod, textFieldElemMod, textFieldBoxMod)
  +addField(title, fieldMod)
    .text-field
      .text-field__box(class=textFieldBoxMod)
        case fieldMod
          when NULL
            input.text-field__elem(class=textFieldElemMod, type="text", placeholder=placeholder)
          when 0
            input.text-field__elem(class=textFieldElemMod, type="text", placeholder=placeholder)
          default
            input.text-field__elem(class=textFieldElemMod, type="text", placeholder=placeholder)