include ../../library.blocks/field/field
include ../list-counter/list-counter
include ../date/date
include ../checkbox/checkbox

mixin addDropdown(title, attrib, dropdownType, additionalContent, check_status)
            - var dropdown_elem_mod = ""
            if attrib.dropdown_elem_small
                - var dropdown_elem_mod = dropdown_elem_mod + attrib.dropdown_elem_small + " "
            if dropdownType.list
                +addField(title, fieldMod)
                    .dropdown
                        .dropdown__elem(class=dropdown_elem_mod)
                            .list-counter(data-type_units=attrib.type_units)
                                .dropdown__top
                                    +addListCounterTop
                                .dropdown__bottom
                                    +addListCounterBottom(additionalContent, attrib.name)
            else if dropdownType.date
                if attrib.dropdown_elem_no_border
                    - var dropdown_elem_mod = dropdown_elem_mod + attrib.dropdown_elem_no_border + " "
                if attrib.date_two_fields
                    - var date_mod = attrib.date_two_fields + " "
                    - var two_title_flag = true
                +addField('', fieldMod)
                    .dropdown
                        .dropdown__elem(class=dropdown_elem_mod)
                            .date(class=date_mod)
                                .dropdown__title
                                    if (two_title_flag == true)
                                        h3= attrib.title_1
                                        h3= attrib.title_2
                                    else
                                        h3= attrib.title_1
                                .dropdown__top
                                    +addDateTop(two_title_flag)
                                .dropdown__bottom
                                    +addDateBottom
            else if dropdownType.checkbox
                if attrib.dropdown_elem_no_border
                    - var dropdown_elem_mod = dropdown_elem_mod + attrib.dropdown_elem_no_border + " "
                if attrib.dropdown_elem_no_absolute
                    - var dropdown_elem_mod = dropdown_elem_mod + attrib.dropdown_elem_no_absolute + " "
                .dropdown
                    .dropdown__elem(class=dropdown_elem_mod)
                        .checkbox
                            .dropdown__top
                                h3= title
                            .dropdown__bottom
                                +addCheckbox(additionalContent)