mixin addItems(items)
    - for (var x = 0; x < items.length; x++)
        .field__dropdown-item(class="field__dropdown-item_amount" + x)
            h3= items[x].title
            .field__minusAndPlus
                p.field__circle.field__minus -
                h3= items[x].value
                p.field__circle.field__plus +

mixin addDropdown(inputName, val, title, items, classMod)
    .field
        h3= title
        .field__input.field__input_top
            .field__input_dropdown(class=classMod)
                p= val
                img(src="./images/expand_more.svg" alt="expand more")
        .field__input.field__input_bottom
            .field__input_dropdown-list(class=classMod data-clickStatus = 0)
                input(name=inputName, id='total-amount', type='hidden', value=val)
                +addItems(items)
                .field__dropdown-buttons
                    h3.field__clear очистить
                    h3.field__apply применить